$color-primary: #00bfff;
$color-warning: #ffb90f;
$color-danger: #ff3030;
$color-black: #363636; //黑色 字体或背景色
$color-black1: #434a50; //黑色 背景色hover或active
$color-black2: #545c64; //黑色 背景色
$color-blackgold: #696969;
$color-gray: #cfcfcf;
$color-lightblue: #40e0d0;
$color-disabled: #87cefa;
